In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
from plotnine import *
import itertools
import seaborn as sns
%matplotlib inline

df = pd.read_csv('sac_animals.csv', parse_dates=True)

df['intake_date'] = pd.to_datetime(df['intake_date'])
df['intake_month'] = df.intake_date.dt.to_period('M').dt.to_timestamp()

/Users/justingoss/Desktop/sac_animals/sac_animals/lib/python3.9/site-packages/pandas/core/arrays/datetimes.py:1088: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.

In [2]:
df.head()

,objectid,animal_id,animal_name,animal_type,activity_number,intake_type,picked_up_location,intake_date,outcome_type,outcome_date,...,name_unknown,has_activity_number,animal_age_in_days,outcome_group,intake_type_clean,color_clean,intake_times,n,days_spent,intake_month
0,1,A230281,GABBY,DOG,NaN,STRAY,H ST & 33RD ST,2020-01-11 08:00:00+00:00,EUTH,2020-01-13 08:00:00+00:00,...,0,0,5110,dead,unowned,black,1,1,2,2020-01-01
1,2,A385870,PRINCESS,DOG,NaN,STRAY,4315 MARTIN LUTHER KING JR BLVD,2019-01-12 08:00:00+00:00,TRANSFER,2019-01-25 08:00:00+00:00,...,0,0,3285,other,unowned,other_solid,1,1,13,2019-01-01
2,3,A423284,SPARKY,DOG,NaN,STRAY,1255 LAMBERTON CIRCLE,2019-08-31 07:00:00+00:00,RTO,2019-08-31 07:00:00+00:00,...,0,0,2920,to_owner,unowned,other_solid,1,1,0,2019-08-01
3,4,A442002,MICKEY,DOG,NaN,STRAY,STOCKTON BLVD & LEMON HILL AVE,2017-12-20 08:00:00+00:00,RTO,2017-12-21 08:00:00+00:00,...,0,0,2920,to_owner,unowned,other_solid,1,1,1,2017-12-01
4,5,A443307,ZEUS,DOG,NaN,STRAY,2415 WESTERN AVE,2018-06-29 07:00:00+00:00,RTO,2018-07-01 07:00:00+00:00,...,0,0,3285,to_owner,unowned,black,1,1,2,2018-06-01

In [3]:
lplot = df.groupby(['intake_month', 'intake_type']).size().to_frame().reset_index()
lplot.columns = ['intake_month', 'intake_type', 'count']

In [4]:
all_intakes = (
    ggplot(lplot, aes(x = 'intake_month', y = 'count', group='intake_type', color='intake_type')) + geom_line() +
    theme_minimal() + scale_x_datetime(date_breaks='6 months')
)

In [5]:
lplot_sub = lplot[~lplot['intake_type'].isin(['STRAY', 'FOSTER'])]

In [6]:
intakes_sub = (
    ggplot(lplot_sub, aes(x = 'intake_month', y = 'count', group='intake_type', color='intake_type')) + geom_line() +
    theme_minimal() + scale_x_datetime(date_breaks='6 months')
)

In [8]:
save_as_pdf_pages([all_intakes, intakes_sub])

/Users/justingoss/Desktop/sac_animals/sac_animals/lib/python3.9/site-packages/plotnine/ggplot.py:848: PlotnineWarning: Filename: plotnine-save-334834514.pdf

In [7]:
all_days_spent = (
    ggplot(df, aes(x = 'days_spent')) + geom_histogram(binwidth=100)
)

In [8]:
df = df[df['days_spent'] >= 0]

In [9]:
days_spent_positive = (
    ggplot(df, aes(x = 'days_spent')) + geom_histogram(binwidth=10)
)

In [ ]:
save_as_pdf_pages([all_days_spent, days_spent_positive])

/Users/justingoss/Desktop/sac_animals/sac_animals/lib/python3.9/site-packages/plotnine/ggplot.py:848: PlotnineWarning: Filename: plotnine-save-334791262.pdf